@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
#background {
  width: 100vw;
  min-height: 100vh;
  background-color: #f0f4f8;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header {
  left: 0;
  right: 0;
  z-index: 100;
}

header .navbar-collapse {
  font-size: 24px;
}

header .nav-link {
  margin: 0 1rem;
}

header .navbar-expand-lg .navbar-nav {
  margin: 0 auto;
  align-items: center;
}
